.full-width {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.box-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.content-card {
  margin-left: 3px;
}

.toolbar {
  display: flex !important;
  justify-content: center !important;
}

.m-position-5 > button {
  margin: 5px;
}

.m-position-20 {
  margin-left: 20px;
}

.react-datepicker__input-container > input {
  border: none;
}

.container-list {
  max-height: 216px;
  overflow: auto;
}

.selected-employee {
  background: rgb(0, 123, 255)!important;
  color: white;
}